

body{/*cor do fundo*/
    background-color: #d7d7d7;
}


/*--projetos--*/
#titulo_portifolio{
    margin-top:10px;
    margin-bottom: 20px;
}

#bloco_texto_sobre_portifolio{
    background-color: white;
}
#bloco_titulo_descricao_portifolio{
    background-color: white;
}
/*projetos*/
.bloco_projeto{
    padding: 10px;
}
.titulo_projeto_nome{
    background-color:white;
    padding:10px;
    margin-bottom: 0%;
}
.imagem_projeto{
    border: 4px solid white;
    border-bottom-color: white;
}
/*descricao projeto*/
.titulo_descricao_projeto{
    padding-left: 10px;
}
.bloco_texto{
    color:black;
    /*background-color:#d7d7d7;*/
    background-color: white;
    padding: 0px; 
    border: 4px solid white;
}
.descricao_projeto{
    padding: 10px;
    margin: 0%;
}
#curriculo{
    background-color: white;
}

/*--rodape--*/
#rodape{
    bottom:0;
    margin-top: 20px;
}

/*contatos*/
.div_contato .list-inline-item a{
    color:white;
    text-decoration: none;
    background-color:orange;
    padding: 1px 15px 1px 15px;
}

.div_contato .list-inline-item a:hover{
    color:black;
    background-color: white;
    text-decoration: none;
    padding: 1px 15px 1px 15px; 
}
/*--alertas de erro--*/
#div_alerta_erro{
    margin-top: 20px;
    margin-bottom: 20px;
}